
process.executor = 'slurm'
process.queue = 'normal,owners,ellenyeh'

process.clusterOptions = "--output=/scratch/groups/ellenyeh/epithemia_assembly_runs/EpCA_09202022_3/slurm_logs/slurm-%j.out"


params {
  prefix           = "EpCA_09202022_3"
  results          = "/scratch/groups/ellenyeh/epithemia_assembly_runs/${params.prefix}/"    // directory for storing results
  resources        = "$projectDir/resources/"  // directory for storing resources
  scripts          = "$projectDir/scripts/"    // directory for storing resources
  diamond_db       = '$GROUP_SCRATCH/jdoenier/NCBI_nr/nr.dmnd'           // database for diamond
  nr_nodes_db      = '$GROUP_SCRATCH/jdoenier/NCBI_taxdmp/nodes.dmp'     // database for blobtools
  nr_names_db      = '$GROUP_SCRATCH/jdoenier/NCBI_taxdmp/names.dmp'     // database for blobtools
  
  min_read_length  = 3000

  // Organelle genomes
  spheroid_body    = "sb_assembly.fasta"
  chloroplast      = "chl_assembly.fasta"
  mitochondria     = "mito_assembly.fasta"

  fast5_dir        = "" 
  fast5_dir_xenic  = "" 

  ont_reads_axenic = [
                      ... // Paths to axenic reads
                    ]

  ont_reads_xenic = [
                      ... // Paths to xenic reads
                    ]

  illumina        = [
                      [..., // Paths to illumina reads R1
                       ...], // Paths to illumina reads R2
                    ]
